@use './reset.scss';
@use './defaults.scss';

@use './tag.scss';
@use './author.scss';
@use './pagination.scss';
@use './navigation.scss';
@use './layout.scss';
@use './index.scss';
@use './header.scss';
@use './footer.scss';

@use './prism.scss';

@use './homepage.scss';

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Fira+Mono|Martel+Sans|Galada|Merriweather");

/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --color-primary: #3eb0ef;
    --color-base: #15171a;
    --color-secondary: #5b7a81;
    --color-border: #c7d5d8;
    --color-bg: #f5f5f5;

    --color-homepage-subtitle-static: hsl(242 25% 50% / 1);

    /* Fonts */
    --font-main: "Martel Sans";
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --font-serif: "Merriweather", Georgia, Times, serif;
    --font-mono: "Fira Mono", Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.6rem;
}

a {
    color: #d659ae;
    font-family: "open sans";
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.5px;
    &:hover:not(.header-title) {
        text-decoration: none;
        color: #fff;
        background: #d659ae;
    }
}

code {
    background: #f0f0f5;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    overflow-wrap: normal;
    color: var(--color-text);
    font-family: var(--font-mono);
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: 600;
    tab-size: 4;
    hyphens: none;
    padding: 1rem;
    border-radius: 1rem;
}

li::marker {
    color: #6762e9;
    content: "\279C";
}

.site-main {
    padding: 15rem 4vw;
}

.post-full-content {
    margin: 0;
}

h1.post-full-title {
    max-width: 960px;
}

// Fix for youtube embed size issue

figure iframe {
    width: 800px;
    height: 452px;
}

/* Galleries from Casper 
/* ---------------------------------------------------------- */

.kg-gallery-image {
    flex: 0.75 1 0%;
    margin: 0 1rem;
}

.kg-gallery-container {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    width: 100vw;
}

.kg-gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
}

.kg-gallery-image img {
    height: auto;
}

/* Map
/* ---------------------------------------------------------- */

.__react_component_tooltip.type-dark {
    color: #fff;
    background-color: hsl(317 25% 35% / 1) !important;
}

.__react_component_tooltip.type-dark.place-top:after {
    border-top-color: hsl(317 25% 35% / 1) !important;
}

/* Dark Mode Toggle
/* ---------------------------------------------------------- */

.darkModeToggle {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

/* Hide the input */
input[type="checkbox"]#darkModeToggle {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.check-trail {
    display: flex;
    align-items: center;
    width: 6em;
    height: 3.5em;
    background: #fff;
    border-radius: 2.5em;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    border: 2px solid #8d64e6;
}

.check-handler {
    display: flex;
    margin-left: 0.5em;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    background: #8d64e6;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
}

.check-handler::before {
    content: "☀";
    color: white;
    font-size: 2em;
    font-weight: bold;
}

input[type="checkbox"]:checked + .check-trail {
    background: hsl(240 78% 10% / 1);
}

input[type="checkbox"]:checked + .check-trail .check-handler {
    margin-left: 50%;
    background: rgb(130 100 230);
}

.check-handler:before,
input[type="checkbox"]:checked + .check-trail .check-handler::before {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: 2rem;
    height: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 312.812 312.812' style='enable-background:new 0 0 312.812 312.812;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M305.2,178.159c-3.2-0.8-6.4,0-9.2,2c-10.4,8.8-22.4,16-35.6,20.8c-12.4,4.8-26,7.2-40.4,7.2c-32.4,0-62-13.2-83.2-34.4 c-21.2-21.2-34.4-50.8-34.4-83.2c0-13.6,2.4-26.8,6.4-38.8c4.4-12.8,10.8-24.4,19.2-34.4c3.6-4.4,2.8-10.8-1.6-14.4 c-2.8-2-6-2.8-9.2-2c-34,9.2-63.6,29.6-84.8,56.8c-20.4,26.8-32.4,60-32.4,96c0,43.6,17.6,83.2,46.4,112s68,46.4,112,46.4 c36.8,0,70.8-12.8,98-34c27.6-21.6,47.6-52.4,56-87.6C314,184.959,310.8,179.359,305.2,178.159z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}

.check-trail:hover {
    border: 2px solid hsl(320deg 60% 60%);
}

.check-trail:hover .check-handler,
input[type="checkbox"]:checked + .check-trail:hover .check-handler {
    background: hsl(320deg 60% 60%);
}

/* Other
/* ---------------------------------------------------------- */

.reading-time {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #738a94;
    font-size: 1.2rem;
    line-height: 33px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.content-title,
.tag-header h1,
.site-main h1 {
    color: var(--color-title);
    font-family: var(--font-main);
    font-size: 7rem;
}

.content p {
    font-family: var(--font-serif);
    font-size: 2.5rem;
    &:first-child {
        font-size: 1.5em;
        line-height: 1.5em;
    }
}

.content li {
    font-family: var(--font-main);
    font-size: 2.5rem;
}

.content-body h2 {
    color: var(--color-subtitle);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

figcaption {
    margin: 1em 0 0;
    font-size: 2rem;
    line-height: 1.6em;
    text-align: center;
    font-family: var(--font-main);
    color: #738a94;
    font-weight: 300;
}

.page-work h1,
.page-art h1 {
    color: #090a0b;
    text-align: center;
    margin: 3rem 0 5rem 0;
}

.pink {
    font-weight: 600;
    color: #d659ae;
    font-size: 2.25rem;
    letter-spacing: 0.1rem;
}


/* Media Queries
/* ---------------------------------------------------------- */

@media (min-width: 900px) {
    .home-template .post-feed,
    .tag-template .post-feed,
    .author-template .post-feed {
        margin-top: -70px;
        padding-top: 0;
    }
    .home-template .site-nav {
        position: relative;
        top: -70px;
    }
}

@media (max-width: 650px) {
    .header-wrapper,
    .home-grid {
        grid-template-columns: 1fr;
    }

    .header-description {
        text-align: center;
    }

    .home-links div {
        margin-bottom: 2rem;
    }
}

@media (max-width: 675px) {
    nav.site-nav {
        flex-direction: column;
    }

    .header-menu p {
        margin: 0;
    }

    .check-handler,
    input[type="checkbox"]:checked + .check-trail .check-handler {
        margin-left: 1rem;
    }

    .check-trail,
    input[type="checkbox"]:checked + .check-trail {
        border: none;
        background: transparent;
        margin: 0;
        width: 6rem;
        height: 3rem;
    }

    .check-trail:hover {
        border: none;
    }

    .darkModeToggle {
        width: 3rem;
    }

    input[type="checkbox"]:checked + .check-trail:hover .check-handler {
        background: #8d64e6;
    }

    .content-title, .tag-header h1, .site-main h1 {
        font-size: 5rem;
        text-align: center;
        margin-top: 3rem 0;
    }

    .post-tags {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .header-menu a {
        padding: 0;
        font-size: 1.5rem;
    }

    .check-handler {
        width: 2em;
        height: 2em;
    }

    .check-handler:before,
    input[type="checkbox"]:checked + .check-trail .check-handler::before {
        width: 1.5rem;
        height: 1.5rem;
    }

    .content-title, .tag-header h1, .site-main h1 {
        font-size: 3.5rem;
    }
}
