/* App.css
/* ---------------------------------------------------------- /*

These are just some base styles to get you started. You delete
these and start over using your toolset of choice, or evolve
what's here to work the way you'd like it to.

# Table of Contents

- Vars
- Reset
- Defaults
- Layout
- Tag Archives
- Author Archives
- Pagination
- Footer

*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Martel+Sans|Galada");

/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --color-primary: #3eb0ef;
    --color-base: #15171a;
    --color-secondary: #5b7a81;
    --color-border: #c7d5d8;
    --color-bg: #f5f5f5;

    /* Fonts */
    --font-main: "Martel Sans";
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.6rem;
}

/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    max-width: 100%;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
i,
em,
dfn {
    font-style: italic;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
mark {
    background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    font: inherit;
}
button {
    overflow: visible;
    border: none;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;

    -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input:focus {
    outline: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    box-sizing: content-box;

    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
legend {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}

/* Defaults
/* ---------------------------------------------------------- */

html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.5%;
    background: var(--color-base);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    overflow-x: hidden;
    color: #3c484e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

::selection {
    text-shadow: none;
    background: #cbeafb;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 1.8em 0 2.4em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #e3e9ed;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1.5em 0;
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
    padding-left: 0.3em;
    line-height: 1.6em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    margin: 0.3em 0 1.8em;
    padding: 0 1.6em 0 1.6em;
    border-left: #cbeafb 0.5em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: 300;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: bold;
}
blockquote cite a {
    font-weight: normal;
}

a {
    color: #26a8ed;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.15;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 4rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    margin: 1.5em 0 0.5em 0;
    font-size: 2rem;
}
@media (max-width: 500px) {
    h2 {
        font-size: 1.8rem;
    }
}

h3 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.8rem;
    font-weight: 500;
}
@media (max-width: 500px) {
    h3 {
        font-size: 1.7rem;
    }
}

h4 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.6rem;
    font-weight: 500;
}

h5 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}

h6 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}

html {
    font-size: 8px;
}

body {
    font-family: var(--font-main);
}

a:not(.header-title) {
    color: #d659ae;
    text-decoration: none;
    border-bottom: 1px dotted #a00afc;
    transition: 0.5s;
}

a:not(.header-title):hover {
    text-decoration: none;
    color: #fff;
    background: #d659ae;
}

p {
    margin: 0 0 1.5rem;
    font-size: 2rem;
    line-height: 2;
    color: #88a6dd;
    color: #4e6082;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}

/* Layout
/* ---------------------------------------------------------- */

.viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

.content {
    margin: 0 auto;
    font-size: 2rem;
    line-height: 1.7em;
}

.content-body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-serif);
}

.post-full-content {
    max-width: 960px;
    margin: 0 auto;
}

.post-feature-image img {
    margin: 0 0 3vw;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
    font-family: var(--font-sans-serif);
}

.content-body h1 {
    margin: 1em 0 0.5em 0;
    font-size: 3.4rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .content-body h1 {
        font-size: 2.8rem;
    }
}

.content-title {
    margin: 0 0 0.8em;
    font-size: 5rem;
}
@media (max-width: 500px) {
    .content-title {
        margin: 0.8em 0;
        font-size: 3.4rem;
    }
    .content {
        font-size: 1.8rem;
    }
}

.content-body h2 {
    margin: 0.8em 0 0.4em 0;
    font-size: 3.2rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .content-body h2 {
        font-size: 2.6rem;
    }
}

.content-body h3 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2.8rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .content-body h3 {
        font-size: 2.2rem;
    }
}

.content-body h4 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2.4rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    .content-body h4 {
        font-size: 2.2rem;
    }
}

.content-body h5 {
    display: block;
    margin: 0.5em 0;
    padding: 1em 0 1.5em;
    border: 0;
    font-family: Georgia, serif;
    color: var(--color-primary);
    font-style: italic;
    font-size: 3.2rem;
    line-height: 1.35em;
    text-align: center;
}

.content-body h6 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2rem;
    font-weight: 700;
}

.content-body figure {
    margin: 0.4em 0 1.6em;
    font-size: 2.8rem;
    font-weight: 700;
}

.content-body pre {
    margin: 0.4em 0 1.8em;
    font-size: 1.6rem;
    line-height: 1.4em;
    white-space: pre-wrap;
    padding: 20px;
    background: var(--color-base);
    color: #fff;
    border-radius: 12px;
}

/* Header
/* ---------------------------------------------------------- */

.site-head {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: var(--color-base);
}

.site-nav-item {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    opacity: 0.7;
}

.site-nav-item:hover {
    text-decoration: none;
    opacity: 1;
}

.site-nav-icon {
    height: 15px;
    margin: -5px 0 0;
}

.site-logo {
    height: 25px;
}

.site-mast {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-mast-right {
    display: flex;
    align-items: center;
    margin: 0 -10px 0 20px;
}

.site-mast-right .site-nav-item:last-child {
    padding-right: 0;
}

.site-banner {
    max-width: 80%;
    margin: 0 auto;
    padding: 10vw 0;
    text-align: center;
}

.site-banner-title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 4rem;
    line-height: 1.3em;
}

.site-banner-desc {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 2.4rem;
    line-height: 1.3em;
    opacity: 0.7;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0 0;
}

.site-nav-left {
    margin: 0 20px 0 -10px;
}

.site-nav-right {
    margin: 0 -10px 0 20px;
}

.site-nav-button {
    display: inline-block;
    padding: 5px 10px;
    border: #fff 1px solid;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1em;
    border-radius: var(--radius);
    opacity: 0.7;
}

.site-nav-button:hover {
    text-decoration: none;
}

/* STAR NEW */

.header-home {
    background: #08042f;
    background: #fff;
}

.header-home:after {
    content: "";
    display: block;
    transform: rotate(-2deg);
    background: #fff;
    z-index: 999;
    position: relative;
    margin-top: -36px;
    height: 8rem;
    width: 105vw;
    top: 29px;
    left: -4px;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 1040px;
    margin: 1rem auto 0 auto;
    border-radius: 1rem;
}

.header-description {
    display: flex;
    align-items: flex-end;
    font-family: var(--font-main);
    padding: 0 5rem;
}

.header-description h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.5;
    color: #1d3195;
}

.header-description h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.5;
}

.header-image {
    text-align: center;
    /* margin: 3rem 0 1rem 3rem; */
    margin-top: 3rem;
}
.header-image img {
    border-radius: 50%;
}

.header-title {
    background-image: linear-gradient(
        90deg,
        #f67c6a,
        #d659ae,
        #b266e3,
        #5c61ea
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 4rem;
    font-weight: 600;
    display: block;
    font-family: galada, sans-serif;
    transition: 0s;
    line-height: 2;
    text-align: center;
}

.header-title:hover {
    filter: hue-rotate(360deg);
    transition: 1s;
}

.header-image-wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        rgb(133 100 230 / 0.1),
        rgb(211 90 177 / 0.3)
    );
    opacity: 1;
    border-radius: 50%;
    mix-blend-mode: overlay;
}

.header-image-wrap:hover:after {
    filter: hue-rotate(360deg);
    transition: 1s;
}

.header-image-wrap {
    width: 50%;
    max-width: 24rem;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.site-nav .header-image-wrap {
    margin: 0;
}

/* 5. Site Navigation
/* ---------------------------------------------------------- */

.site-nav {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: hidden;
    height: 40px;
    font-size: 1.2rem;
}

.site-nav-left {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-right: 10px;
    padding-bottom: 80px;
    letter-spacing: 0.4px;
    white-space: nowrap;

    -ms-overflow-scrolling: touch;
}

/* Site Nav Hack Explanation (above):

What's happening above it .site-nav-left is set to overflow-x and allow sideways scrolling, so that when there isn't enough space for all nav items (either due to lots of nav items, or a small viewport), you can still scroll side-to-side to reach them.

The knock-on effect of this is ugly browser-scroll bars at the bottom, so 80px of padding-bottom and a 40px fixed height parent (.site-nav) hides that entirely. Slightly hacky code. But nice clean end-result.

*/

.site-nav-left .header-title {
    color: #fff;
    font-size: 3rem;
    padding: 0.1rem 3rem 0 0;
}

.site-nav-left .header-title:hover {
    text-decoration: none;
    filter: none;
}

.site-nav-logo {
    flex-shrink: 0;
    display: block;
    margin-right: 24px;
    padding: 11px 0;
    color: #fff;
    font-size: 1.7rem;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.site-nav-logo:hover {
    text-decoration: none;
}

.site-nav-logo img {
    display: block;
    width: auto;
    height: 21px;
}

.nav {
    display: flex;
    margin: 0 0 0 -12px;
    padding: 0;
    list-style: none;
}

.nav li {
    display: block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.nav li a {
    display: block;
    margin: 0;
    padding: 10px 12px;
    color: #fff;
    opacity: 0.8;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav li a:hover {
    text-decoration: none;
    opacity: 1;
    background: none;
    transition: 0s;
}

.site-nav-right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 40px;
}

.social-links {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.social-links a:last-of-type {
    padding-right: 20px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    color: #fff;
    opacity: 0.8;
}

.social-link:hover {
    opacity: 1;
    background: none !important;
}

.social-link svg {
    height: 1.8rem;
    fill: #fff;
}

.social-link-fb svg {
    height: 1.5rem;
}

.social-link-wb svg {
    height: 1.6rem;
}

.social-link-wb svg path {
    stroke: #fff;
}

.social-link-rss svg {
    height: 1.9rem;
}

a.subscribe-button {
    display: block;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1em;
    border-radius: 2rem;
    opacity: 0.8;
    background: none;
    border: 1px solid #fff !important;
    font-size: 2rem;
    color: #fff;
}

a.subscribe-button:hover {
    text-decoration: none;
    opacity: 1;
    background: none;
    transition: 0s;
}

.rss-button {
    opacity: 0.8;
}

.rss-button:hover {
    opacity: 1;
}

.rss-button svg {
    margin-bottom: 1px;
    height: 2.1rem;
    fill: #fff;
}

@media (max-width: 700px) {
    .site-header {
        padding-right: 0;
        padding-left: 0;
    }
    .site-nav-left {
        margin-right: 0;
        padding-left: 4vw;
    }
    .site-nav-right {
        display: none;
    }
}

.site-header.outer {
    background: linear-gradient(90deg, #d659ae, #b266e3);
    padding: 1rem;
}

.site-header.outer a {
    border: none;
}

/* END NEW */

/* Main
/* ---------------------------------------------------------- */

.site-main {
    padding: 4vw;
}

/* Index
/* ---------------------------------------------------------- */

.post-feed {
    display: grid;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1100px) {
    .site-nav {
        padding: 0 4vw;
    }
}

@media (max-width: 980px) {
    .post-feed {
        grid-template-columns: 1fr 1fr;
    }

    .site-nav {
        padding: 0 4vw;
    }
}

@media (max-width: 680px) {
    .post-feed {
        grid-template-columns: 1fr;
    }
}

.post-card {
    color: inherit;
    text-decoration: none;
}

.post-card:hover {
    text-decoration: none;
}

.post-card-tags {
    margin: 0 0 5px 0;
    font-size: 1.4rem;
    line-height: 1.15em;
    color: var(--color-secondary);
}

.post-card-title {
    margin: 0 0 10px 0;
    padding: 0;
}

.post-card-excerpt {
    font-size: 1.6rem;
    line-height: 1.55em;
    margin: 0 0 1.5rem;
    font-size: 2rem;
    line-height: 2;
    color: #88a6dd;
    color: #4e6082;
}

.post-card-image {
    margin: 0 0 10px 0;
    width: auto;
    height: 200px;
    background: var(--color-secondary) no-repeat center center;
    background-size: cover;
}

.post-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
    color: var(--color-secondary);
}

.post-card-footer-left {
    display: flex;
    align-items: center;
}

.post-card-footer-right {
    display: flex;
    flex-direction: column;
}

.post-card-avatar {
    width: 30px;
    height: 30px;
    margin: 0 7px 0 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card-avatar .author-profile-image {
    display: block;
    width: 100%;
    background: var(--color-secondary);
    border-radius: 100%;
    object-fit: cover;
}

.post-card-avatar .default-avatar {
    width: 26px;
}

.post-card {
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    min-height: 300px;
    background: #fff 50%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
        1px 3px 8px rgba(39, 44, 49, 0.03);
    transition: all 0.5s ease;
}

a.post-card-image-link {
    border: none;
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.post-card-title {
    margin-top: 0;
}

.post-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-card-excerpt {
    font-family: Georgia, serif;
}

a.post-card-content-link {
    position: relative;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    padding: 25px 25px 0;
    color: #15171a;
    border: none;
}

.post-card-title {
    color: #15171a;
}

.post-feed {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 40px 0 0 0;
}

.post-card {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 20px 40px;
    min-height: 300px;
    background: #fff center center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px,
        rgba(39, 44, 49, 0.03) 1px 3px 8px;
    transition: all 0.5s ease;
}

.post-card:hover {
    box-shadow: rgba(39, 44, 49, 0.07) 8px 28px 50px,
        rgba(39, 44, 49, 0.04) 1px 6px 12px;
    transition: all 0.4s ease;
    transform: translate3D(0, -1px, 0) scale(1.02);
}

.post-card-image-link {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

a.post-card-image-link {
    border: none;
}

a.post-card-image-link:hover {
    background: none;
}

.post-card-image {
    width: auto;
    height: 200px;
    background: var(--lightgrey) no-repeat center center;
    background-size: cover;
}

a.post-card-content-link {
    position: relative;
    flex-grow: 1;
    display: block;
    padding: 25px 25px 0;
    color: var(--darkgrey);
    border: none;
}

a.post-card-content-link:hover {
    text-decoration: none;
    background: inherit;
    color: inherit;
}

.post-card-tags {
    display: block;
    margin-bottom: 4px;
    color: var(--midgrey);
    font-size: 1.2rem;
    line-height: 1.15em;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.post-card-title {
    margin-top: 0;
}

.post-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-card-excerpt {
    font-family: Georgia, serif;
}

.post-card-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 25px 25px;
}

.author-profile-image,
.avatar-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    background: color(var(--lightgrey) l(+10%));
    border-radius: 100%;

    object-fit: cover;
}

.post-card-meta .profile-image-wrapper,
.post-card-meta .avatar-wrapper {
    position: relative;
}

.author-list {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 0;
    padding: 0;
    list-style: none;
}

.author-list-item {
    position: relative;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

/* Tag Archives
/* ---------------------------------------------------------- */

.tag-header {
    max-width: 690px;
    margin: 0;
}

.tag-header h1 {
    margin: 0 0 1rem 0;
}

.tag-header p {
    margin: 0;
    color: var(--color-secondary);
    font-size: 2.2rem;
    line-height: 1.3em;
}

@media (max-width: 500px) {
    .tag-header {
        border-bottom: var(--color-bg) 1px solid;
        padding-bottom: 4vw;
    }
    .tag-header p {
        font-size: 1.7rem;
    }
}

/* Author Archives
/* ---------------------------------------------------------- */

.author-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 4vw;
}

.author-header h1 {
    margin: 0 0 1rem 0;
}

.author-header p {
    margin: 0;
    color: var(--color-secondary);
    font-size: 2.2rem;
    line-height: 1.3em;
}

.author-header-image {
    flex: 0 0 auto;
    margin: 0 0 0 4vw;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    overflow: hidden;
}

.author-header-meta {
    display: flex;
    margin: 1rem 0 0 0;
}

.author-header-item {
    display: block;
    padding: 2px 10px;
}

.author-header-item:first-child {
    padding-left: 0;
}

@media (max-width: 500px) {
    .author-header {
        border-bottom: var(--color-bg) 1px solid;
        padding-bottom: 4vw;
    }
    .author-header p {
        font-size: 1.7rem;
    }
    .author-header-image {
        height: 80px;
        width: 80px;
    }
}

/* Pagination
/* ---------------------------------------------------------- */

.pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4vw 0 0;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    border: var(--color-border) 1px solid;
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1em;
    border-radius: var(--radius);
}

.pagination-location {
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    color: var(--color-secondary);
    font-size: 1.3rem;
}

/* Footer
/* ---------------------------------------------------------- */

.site-footer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #fff;
    background: color(var(--darkgrey) l(-15%));
    background: #181949;
}

.site-footer-content {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.3rem;
    text-align: center;
    padding-top: 4rem;
}

.site-footer-content a {
    color: rgba(255, 255, 255, 0.7);
}

.site-footer-content a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.site-footer-content p {
    font-size: 2rem;
}

.site-footer-content a {
    border: none;
}

.site-footer-content a:hover {
    background: none;
}

.site-footer-content svg {
    margin: 0 1rem;
    transition: 0.2s;
}

.site-footer-content svg:hover {
    transform: scale(1.15);
}

.site-footer-nav {
    display: flex;
}

.site-footer-nav a {
    position: relative;
    margin-left: 20px;
}

.site-footer-nav a:before {
    content: "";
    position: absolute;
    top: 11px;
    left: -11px;
    display: block;
    width: 2px;
    height: 2px;
    background: #fff;
    border-radius: 100%;
}

.site-footer-nav a:first-of-type:before {
    display: none;
}

@media (max-width: 650px) {
    .site-footer-content {
        flex-direction: column;
    }
    .site-footer-nav a:first-child {
        margin-left: 0;
    }
}

.page-work h1,
.page-art h1 {
    color: #090a0b;
    text-align: center;
    margin: 3rem 0 5rem 0;
}

/* Custom
/* ---------------------------------------------------------- */

@media (min-width: 900px) {
    .home-template .post-feed,
    .tag-template .post-feed,
    .author-template .post-feed {
        margin-top: -70px;
        padding-top: 0;
    }
    .home-template .site-nav {
        position: relative;
        top: -70px;
    }
}

/* Homepage
/* ---------------------------------------------------------- */

.home-title {
    text-align: left;
    font-weight: 300;
    font-size: 4rem;
    font-family: var(--font-main), sans-serif;
    letter-spacing: 0.1rem;
    color: #1d3195;
}

.home-title.location-box-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}

.home-post {
    /* font-family: 'PT serif'; */
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 4rem;
}

.home-section {
    margin-bottom: 2rem;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 2rem;
}

.home-box {
    /* background: #181949; */
    padding: 4rem 6rem;
    border-radius: 1rem;
    /* box-shadow: 0px 1px 3px rgba(0,0,0,0.1); */
}

.big-box p {
    max-width: 570px;
    margin: 2rem 0 4rem;
}

.location-box {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    padding: 4rem 0;
}

.location-box-inner {
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 0 3rem 3rem;
    margin-top: 3rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: #fdfdfd;
}

.location-box-inner svg {
    width: 40px;
    fill: #fff;
    margin: 1rem 0 3rem 0;
    margin-top: -3rem;
    background: #a00afc;
    border-radius: 50%;
    padding: 1.2rem;
}

.location-box-title {
    text-align: left;
}

.location-box-footer {
    font-size: 12px;
    margin: 0;
    color: #aaa;
}

.location-box-footer a {
    color: #777;
    border: none;
}

.location-box-footer a:hover {
    color: #d659ae;
    background: none;
}

.home-links {
    display: block;
}

.home-links-work {
    border: 1px solid #f66a75;
    color: #f66a75;
}

.home-links-travel {
    border: 1px solid #d659ae;
    color: #d659ae;
}

.home-links-art {
    border: 1px solid #b266e3;
    color: #b266e3;
}

.home-links-projects {
    border: 1px solid #795dea;
    color: #795dea;
}

.home-links a {
    border: none;
}

.home-links a:hover {
    background: none;
}

.home-links div:hover {
    transform: scale(1.05);
}

.home-links div {
    margin: 0 2rem 0 0;
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem 4rem;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    line-height: 2;
    background: #fff;
    transition: 0.2s;
}

.home-tools {
    text-align: left;
    font-size: 2.5rem;
    color: #fff;
}

.home-tools a {
    color: #fff;
    border: none;
}

.home-tool {
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
    transition: 0.25s;
    margin-right: 0.5rem;
    display: inline-block;
    cursor: pointer;
}

.home-tool:hover {
    opacity: 1 !important;
}

.home-tools-imgs img {
    width: 100px;
    height: 50px;
    object-fit: contain;
    margin: 4rem 1rem 1rem 0;
    filter: saturate(0);
    transition: 0.5s;
}

.tools-wrap {
    min-height: 100px;
}

.home-tools-imgs img:hover {
    filter: saturate(1);
}

.home-tools-imgs h1 {
    position: relative;
    width: auto;
    display: inline;
    vertical-align: bottom;
}

.reading-time {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #738a94;
    font-size: 1.2rem;
    line-height: 33px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.site-head {
    background: none;
}

.site-nav {
    justify-content: flex-start;
    align-items: center;
    height: 4rem;
}

.site-nav .header-title {
    margin-top: 10px;
}

.site-nav .header-image img {
    width: auto;
    max-width: 4rem;
    margin-right: 2rem;
}

.site-nav .header-image {
    margin: 0;
}

.content-title,
.tag-header h1,
.site-main h1 {
    color: #090a0b;
    font-family: var(--font-main);
    font-size: 7rem;
}

.content p {
    color: #363949;
    font-family: var(--font-main);
    font-size: 2.5rem;
}

.content p:first-child {
    font-size: 1.5em;
    line-height: 1.5em;
}

.content-body h2 {
    color: #090a0b;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

figcaption {
    margin: 1em 0 0;
    font-size: 2rem;
    line-height: 1.6em;
    text-align: center;
    font-family: var(--font-main);
    color: #738a94;
    font-weight: 300;
}

.header-wrapper {
    margin-top: 0;
}

.home-tools {
    text-align: left;
    font-size: 2.5rem;
    color: #fff;
}

.home-tools a {
    color: #fff;
    border: none;
}

.home-tool {
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
    transition: 0.25s;
    margin-right: 0.5rem;
    display: inline-block;
    cursor: pointer;
}

.home-tool:hover {
    opacity: 1 !important;
}

.home-tools-imgs img {
    width: 100px;
    height: 50px;
    object-fit: contain;
    margin: 4rem 1rem 1rem 0;
    filter: saturate(0);
    transition: 0.5s;
}

.tools-wrap {
    min-height: 100px;
}

.home-tools-imgs img:hover {
    filter: saturate(1);
}

/* Galleries from Casper */

.kg-gallery-image {
    flex: 0.75 1 0%;
    margin: 0 1rem;
}

.kg-gallery-container {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    width: 100vw;
}

.kg-gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
}

.kg-gallery-image img {
    height: auto;
}

@media (max-width: 650px) {
    .header-wrapper,
    .home-grid {
        grid-template-columns: 1fr;
    }

    .header-description {
        text-align: center;
    }

    .home-links div {
        margin-bottom: 2rem;
    }
}

.pink {
    font-weight: 600;
    color: #d659ae;
    font-size: 2.25rem;
    letter-spacing: 0.1rem;
}

.__react_component_tooltip.type-dark {
    color: #fff;
    background-color: hsl(317 25% 35% / 1) !important;
}

.__react_component_tooltip.type-dark.place-top:after {
    border-top-color: hsl(317 25% 35% / 1) !important;
}


.darkModeToggle {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

/* Hide the input */
input[type="checkbox"]#darkModeToggle {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.check-trail {
    display: flex;
    align-items: center;
    width: 6em;
    height: 3.5em;
    background: #fff;
    border-radius: 2.5em;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    border: 2px solid #8d64e6;
}

.check-handler {
    display: flex;
    margin-left: 0.5em;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    background: #8d64e6;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
}

.check-handler::before {
    content: "☀";
    color: white;
    font-size: 2em;
    font-weight: bold;
}

input[type="checkbox"]:checked + .check-trail {
    background: hsl(240 78% 10% / 1);
}

input[type="checkbox"]:checked + .check-trail .check-handler {
    margin-left: 50%;
    background: rgb(130 100 230);
}

.check-handler:before,
input[type="checkbox"]:checked + .check-trail .check-handler::before {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: 2rem;
    height: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 312.812 312.812' style='enable-background:new 0 0 312.812 312.812;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23fff' d='M305.2,178.159c-3.2-0.8-6.4,0-9.2,2c-10.4,8.8-22.4,16-35.6,20.8c-12.4,4.8-26,7.2-40.4,7.2c-32.4,0-62-13.2-83.2-34.4 c-21.2-21.2-34.4-50.8-34.4-83.2c0-13.6,2.4-26.8,6.4-38.8c4.4-12.8,10.8-24.4,19.2-34.4c3.6-4.4,2.8-10.8-1.6-14.4 c-2.8-2-6-2.8-9.2-2c-34,9.2-63.6,29.6-84.8,56.8c-20.4,26.8-32.4,60-32.4,96c0,43.6,17.6,83.2,46.4,112s68,46.4,112,46.4 c36.8,0,70.8-12.8,98-34c27.6-21.6,47.6-52.4,56-87.6C314,184.959,310.8,179.359,305.2,178.159z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}
