/* Homepage
/* ---------------------------------------------------------- */

.home-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 2rem;
}

.home-section {
    margin-bottom: 2rem;
}

.home-title {
    text-align: left;
    font-weight: 300;
    font-size: 4rem;
    font-family: var(--font-main), sans-serif;
    letter-spacing: 0.1rem;
    color: #1d3195;

    &.location-box-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2rem;
    }
}

h2.home-title {
    font-family: 'Merriweather';
    font-weight: 600;
}

.home-post {
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 4rem;
}

h2.home-post {
    margin-top: 1rem;

    a {
        font-family: 'Martel Sans';
        font-size: 2.4rem;
        letter-spacing: 0.1px;
        /* border-bottom: 1px solid; */
    }
}

.home-tag {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: grey;
}

.home-box {
    padding: 4rem 6rem;
    border-radius: 1rem;
}

.big-box p {
    max-width: 570px;
    margin: 2rem 0 4rem;
}

.header-wrapper {
    padding-top: 2rem;
}

.header-description h2 {
    margin: 0;
}

// Location box

.location-box {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    padding: 4rem 0;

}

.location-box-inner {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 0 3rem 3rem;
    margin-top: 3rem;
    background: #fdfdfd;

    svg {
        width: 40px;
        fill: #fff;
        margin: 1rem 0 3rem 0;
        margin-top: -3rem;
        background: #a00afc;
        border-radius: 50%;
        padding: 1.2rem;
    }
}

.location-box-title {
    text-align: left;
}

.location-box-footer {
    font-size: 12px;
    margin: 0;
    color: #aaa;

    a {
        color: #777;
        border: none;

        &:hover {
            color: #d659ae;
            background: none;
        }
    }
}

// Link boxes

.home-links {
    display: block;

    a {
        border: none;
        &:hover {
            background: none !important;
        }
    }
}

.home-links div {
    margin: 0 2rem 0 0;
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem 4rem;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    line-height: 2;
    background: #fff;
    transition: 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}

.home-links-work {
    border: 1px solid #f66a75;
    color: #f66a75;
}

.home-links-travel {
    border: 1px solid #d659ae;
    color: #d659ae;
}

.home-links-art {
    border: 1px solid #b266e3;
    color: #b266e3;
}

.home-links-projects {
    border: 1px solid #795dea;
    color: #795dea;
}

.home-projects {
    margin: 5rem 0 0 0;

    .home-project {
        background: var(--color-backgroundpop);
        padding: 6rem 4rem 4rem 4rem;
        max-width: 600px;
        border-radius: 1rem;
    }

    img {
        padding: 0 1rem 0 0;
        margin-top: -7px;
    }

    p {
        margin: 3rem 0 0 0;
    }

    h3 {
        display: inline;
        font-size: 2.5rem;
        font-weight: 600;
    }

    .home-title {
        margin: 0 0 5rem 0;
    }
}

#home-newsletter {
    background: var(--color-backgroundpop);
    padding: 1px 5rem 5rem 5rem;
}

button.button.newsletter-subscribe {
    padding: 1.7rem;
}

.newsletter-error-message {
    font-size: 2rem;
    color: red;
    padding: 1rem 0;
}

