/* Pagination
/* ---------------------------------------------------------- */

.pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4vw 0 0;

    a {
        display: inline-block;
        padding: 10px 15px;
        border: none;
        color: var(--color-secondary);
        text-decoration: none;
        font-size: 2.5rem;
        line-height: 1em;
        border-radius: var(--radius);
    }    
}

.pagination-location {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    color: var(--color-secondary);
    font-size: 2.5rem;
    width: auto;
}