{
    "presets": [
        [
            "babel-preset-gatsby-package",
            {
    "browser": true
            }
        ]
    ],
    "plugins": [
        ["prismjs", {
          "languages": ["javascript", "css", "markup"],
          "plugins": ["show-language"],
          "theme": "okaidia",
          "css": true
        }]
      ]
}