.Feed {
    margin: auto;
}

.Feed a {
    display: inline-block;
    margin: 1% 2% 1% 0;
    width: 23%;
    line-height: 0
}

.Feed a img {
    animation: fadein 3s;
    width: 100%
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
